body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f6f9;
}

/* HERO */
.hero {
    background: linear-gradient(135deg, #0d6efd, #084298);
    padding: 100px 0;
}

/* PAGE SYSTEM */
.page {
    display: none;
}

#home {
    display: block;
}

:target {
    display: block;
}

/* CARD */
.card {
    border-radius: 10px;
}

/* FOOTER */
footer {
    margin-top: 50px;
}
